@page "/questions/{numberOfQuestions:int}"
@inject HttpClient Http
@using Newtonsoft.Json
@using TriviaFrontend.Models
@using System.Runtime.Caching


<h3>Questions</h3>
@if (question == null)
{
    <h3>Loading....</h3>
}
else
{
    foreach (var item in question)
    {
        <div class="card">
            <h4>Question: @item.QuestionNo</h4>
            <h4>Diffficulty: @item.Difficulty</h4>
            <h4>Category: @item.Category</h4>
            <h4>Question: @item.QuestionTxt</h4>
            <form>
                @if (!Corrected)
                {

                    @foreach (var items in @item.Alternatives)
                    {
                        <input type="radio" name="alt" value="@items" @onchange="(e => selectedAnswer(e,item.QuestionNo))" />
                        <label for="alt" style="min-width:10%;text-align:left"> @items</label>
                    }
                }
            </form>

            @if (Corrected)
            {
                <h4>Your answer: @item.Answer</h4>
                <h4>Correct answer: @item.CorrectAnswer</h4>
            }
        </div>
    }
    <button @onclick="@checkAnswer">Check answers</button>
}
@code {
    [Parameter]
    public int numberOfQuestions { get; set; }

    public List<Question> question { get; set; }
    public string jsonCategories { get; set; } = string.Empty;
    public int CorrectAnswers { get; set; }
    public bool Corrected { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        jsonCategories = await Http.GetStringAsync($"https://localhost:44321/api/Response/{numberOfQuestions}");
        question = JsonConvert.DeserializeObject<List<Question>>(jsonCategories);
    }

    void selectedAnswer(ChangeEventArgs args, object sender)
    {
        var ans = args.Value.ToString();
        var temp = question.FirstOrDefault(x => x.QuestionNo.Equals(Convert.ToInt32(sender)));
        temp.Answer = ans;
    }

    private void checkAnswer()
    {
        foreach (var field in question)
        {
            if (field.Answer == field.CorrectAnswer)
            {
                CorrectAnswers++;
            }
        }
        Corrected = true;
    }

}
